h1 {
    margin: 0px;
}

table {
    border-spacing: 0px;
    width: 100%;
    min-width: 400px;
    max-width: 690px;
    margin: 0px auto;
}
td:first-of-type {
    text-align: center;
    font-weight: bold;
}
td p~p {
    padding: 0px 20px;
}
tr:last-of-type td {
    padding-top: 20px;
}

#edit_layer {
    padding: 10px 20px;
    border: 1px solid #999999;
    width: 100%;
    min-width: 400px;
    max-width: 650px;
    margin: 0px auto;
}

#edit_layer p, label {
    color: #707070;
    position: relative;
}

label, input[type='text'] {
    display: block;
    margin: 0px 0px 15px;
}
input[type='text'] {
    width: 90%;
    border-radius: 5px;
    border: 1px solid #6f6f6f;
    padding: 5px;;
    margin-left: 5px;
}

#skills_layer input[type='text'] {
    display: inline-block;
    width: 81.5%;
}
#skills_layer label {
    margin-left: 10px;
}
#nav_layer {
    width: 90%;
    text-align: right;
}
button {
    width: 130px;
    height: 35px;
    background-color: #66bbff;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
}

button:hover {
    background-color: #49606e;
}

button:disabled {
    background-color: #cccccc;
    cursor: default;
}

.align-rt {
    text-align: right !important;
}

.align-lt {
    text-align: left !important;
}

.red {
    color: red;
    position: absolute;
    right: 50px;
    top: 0px;
}

.ng-invalid.ng-dirty {
    border: 1px solid red !important;
    background-color: lightpink;
}

.ng-invalid:before {
    content: '*';
    color: red;
}